.image
{
    height: 450px;
}

.carousel-caption p, h1
{
    color: black;
}

.carousel-caption p
{
    font-size: large;
    font-weight: bold;
}

.imgAvtcard
{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}

.AvtCard
{
    border: none;
}

.btn
 {
    border: 0.1rem solid #10221b;
    color: #10221b;
    cursor: pointer;
    background: none;
    font-size: 1.5rem;
}

.AvtCard:hover .btn
{
    border-color: #fff;
}

.btn:hover 
{

    background: #10221b;
    color: #fff;
}

.ideeDaventure
{
    padding: 5rem 9%;
}


.experience
{
    background: #eee;
    gap: 2rem;
  }

.experience .image 
{
    padding-top: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
  }
  
  .experience .image img 
  {
    width: 100%;
    height: 300px;
    box-shadow: 2rem 2rem  rgba(0, 0, 0, 0.1);
  }

  




.prod
  {
    border: 0.2rem solid #10221b;
  }
  
.prod:hover .imageprod .icons 
  {
    transform: translateY(0);
  }
  
.prod .imageprod 
 {
   position: relative;
   overflow: hidden;/**/
    height: 15rem;
    width: 100%;
  }
  
  .prod .imageprod img
   {
    height: 100%;
    width: 100%;
   }
  
  .prod .imageprod .icons 
  {
    width: 100%;
    position: absolute;
    bottom: 2rem;
    z-index: 10;
    transform: translateY(7rem);
  }
  
  .prod .imageprod .icons a 
  {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    background: #10221b;
    color: #fff;
  }
  
.prod .imageprod .icons a:hover 
  {
    background: #219150;
  }

  .prod .card-body  h3
   {
    font-size: 1.5rem;
    color: #10221b;
  }
  
  .prod .card-body .price
   {
    padding: 1rem 0;
    padding-top: .5rem;
    font-size: 1rem;
    color: #219150;
  }
  
  .prod .card-body  .stars i 
  {
    font-size: 1.2rem;
    color: #10221b;
  }




  .offres
  {
    background: #eee;
  }
  
  
  .offres .container .card 
  {
    text-align: center;
    background: #fff;
    border: 0.2rem solid #10221b;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
  }
  
  .offres .container .card:hover 
  {
    background: #10221b;
  }
  
  .offres .container .card:hover .card-body > * 
  {
    color: #fff;
  }
  
  .offres .container .card:hover .btn 
  {
    border-color: #fff;
  }
  
  .offres .container .card:hover .btn:hover 
  {
    background: #fff;
    color: #10221b;
  }
  
  .offres .container .card .imageoffre 
  {
    height: 10rem;
    overflow: hidden;
    padding: 2rem;
    padding-bottom: 0;
    border-radius: .5rem;
  }
  
  .offres .container .card .imageoffre img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: .5rem;
  }
  
  .packages .box-container .box .content {
    padding: 2rem;
  }
  
  .packages .box-container .box .content h3 {
    font-size: 2rem;
    color: #10221b;
  }
  
  .packages .box-container .box .content p {
    font-size: 1.5rem;
    color: #10221b;
    padding: 1rem 0;
    line-height: 2;
  }
  
  .packages .box-container .box .content .price 
  {
    font-size: 2rem;
    color: #219150;
  }



  /*.carousel-control-prev-icon,.carousel-control-next-icon 
  {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}*/

.carousel-control-next-icon,.carousel-control-prev-icon 
{
  filter: invert(1);
}

.carousel-control-next-icon 
{
  margin-left: 150px;
}

.carousel-control-prev-icon 
{
  margin-right: 150px;
}